# Initialize plugins on rtorrent start without opening webui
execute = {sh,-c,/usr/bin/php7 /usr/share/webapps/rutorrent/php/initplugins.php abc &}
execute = {sh,-c,/usr/bin/php7 /usr/share/webapps/rutorrent/php/initplugins.php admin &}

# Prepare rtorrent communication socket
execute.nothrow = rm,/run/php/.rtorrent.sock
network.scgi.open_local = /run/php/.rtorrent.sock
schedule = socket_chmod,0,0,"execute=chmod,0660,/run/php/.rtorrent.sock"
schedule = socket_chgrp,0,0,"execute=chgrp,abc,/run/php/.rtorrent.sock"

# Directory Management
directory = /downloads/
session = /config/rtorrent/rtorrent_sess

# Log file management
log.open_file = "rtorrent", /config/log/rtorrent/rtorrent.log
log.add_output = "info", "rtorrent"

# General Parameters
check_hash = no
dht = off
peer_exchange = no
system.umask.set = 002
encoding_list = UTF-8

# Network parameters
max_memory_usage = 4096M
max_downloads_global = 0
max_uploads_global = 0
min_peers = 1
max_peers = 150
min_peers_seed = -1
max_peers_seed = -1
max_uploads = 230
#download_rate = 291840 # 95pc del ancho de banda
#upload_rate = 27648 #90pc del ancho de banda
download_rate = 0
upload_rate = 0
use_udp_trackers = yes
port_random = no
port_range = 19939-19939
bind = 0.0.0.0
encryption = allow_incoming,try_outgoing,enable_retry
# network.http.ssl_verify_peer.set=0

# Preallocate files; reduces defragmentation on filesystems.
system.file_allocate.set = yes

# tuning parameters
pieces.preload.type.set = 1
# throttle.min_peers.normal.set = 10
# throttle.max_peers.normal.set = 30
# throttle.min_peers.seed.set = -1
# throttle.max_peers.seed.set = -1
# throttle.max_uploads.set = 30
# throttle.max_uploads.global.set = 0
# throttle.max_downloads.global.set = 3
# # pieces.memory.max.set = 6G
# pieces.preload.min_size.set = 262144
# pieces.preload.min_rate.set = 5120
# throttle.global_down.max_rate.set_kb = 0
# throttle.global_up.max_rate.set_kb = 0

# General watch directory
schedule = watch_directory_99,5,5,"load_start=/downloads/watch/*.torrent,\"d.set_custom=auto,/downloads/\""

# Watch directories configuration
# watch subdirectory by tracker

# Stop seeding when .torrent from watch file is deleted
schedule = untied_directory,5,5,stop_untied=

# Pause torrents when free space is only 1GB 
schedule = low_diskspace,5,60,close_low_diskspace=1024M

# Move the downloaded data to the tracker directory beï¿½low Downloads
system.method.set_key = event.download.finished,move_complete,"branch={$movecheck=,movedir=}"
system.method.insert=movecheck,simple,"and={d.get_complete=,d.get_custom=auto}"
system.method.insert=movedir,simple,"d.set_directory=$d.get_custom=auto;execute=mv,-f,$d.get_base_path=,$d.get_custom=auto"

# Telegram Notifications
#system.method.set_key = event.download.finished,push_me,"execute=/config/rtorrent/notify_telegram.sh,$d.get_name="

# Commit session data
schedule = session_save,240,300,session_save=